@use '../abstracts' as *

.underline
  border-bottom: 1px solid #000

.wrapper
  display: flex
  width: 100%

.error
  color: $antique-ruby

.center-align
  text-align: center

.left-align
  text-align: left

.right-align
  text-align: right

.text-small
  font-size: 0.85rem

.height1
  +height1(6rem)

.hidden
  display: none

.ital
  font-style: italic
  font-variant: small-caps

.date-range
  margin-top: 0
  margin-bottom: .5rem
  padding-top: 0

.current
  background: $darksalmon
  color: $gen26!important

output
  color: $gen7

.white
  color: $texty-bg

.group
  text-align: left
