@use '../abstracts' as *
/* Links */
a
  color: map-get($colors, "text3")
  text-decoration: none
  transition: color $base-duration $base-timing
  font-family: $comfortaa
  font-weight: map-get($weight, "bold6")
  cursor: pointer

  &:visited
    color: map-get($colors, "text7")
    text-decoration: overline

  &:hover
    color: map-get($colors, "text5")
    text-decoration: underline

  &:focus, :active
    color: $gold
    text-shadow: 1px 1px 3px black
