@use '../abstracts' as *
/* Links */
a
  color: map-get($colors, "text3")
  text-decoration: none
  transition: color $base-duration $base-timing
  font-family: $font-stack-lucida-grande

  &:visited
    color: map-get($colors, "text7")
    text-decoration: overline
    font-family: $font-stack-garamond

  &:hover
    color: #d7ccc8
    text-decoration: underline

  &:focus, :active
    color: $gold
    text-shadow: 1px 1px 3px black
