@charset "UTF-8";
/**
 * /* Config
 *
 * @format
 */
@font-face {
  font-family: MerriweatherSans;
  src: url("../fonts/MerriweatherSans-VariableFont_wght.ttf");
  src-format: "tff supports variations";
  src: url("../fonts/MerriweatherSans-VariableFont_wght.ttf");
  src-format: "tff-variations";
  font-weight: 300 800;
  font-optical-sizing: auto;
}
*::before,
*::after {
  box-sizing: inherit;
}

/** @format */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/* Elements */
p {
  padding-bottom: 5px;
  font-size: 18.4px;
  padding: 0 1rem 0.75rem 1rem;
}

mark {
  background-color: #ef9a9a;
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
}

/* Links */
a {
  color: #ffe8cc;
  text-decoration: none;
  transition: color 350ms ease;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
}
a:visited {
  color: #e1bee7;
  text-decoration: overline;
  font-family: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
a:hover {
  color: #d7ccc8;
  text-decoration: underline;
}
a:focus, a :active {
  color: #ffd700;
  text-shadow: 1px 1px 3px black;
}

.underline {
  border-bottom: 1px solid #000;
}

.wrapper {
  display: flex;
  width: 100%;
}

.error {
  color: #841B2D;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.text-small {
  font-size: 0.85rem;
}

.height1 {
  height: 6rem;
}

.hidden {
  display: none;
}

.ital {
  font-style: italic;
  font-variant: small-caps;
}

.input-small {
  width: 10%;
}

.input-med {
  width: 30%;
}

.input-med-lg {
  width: 50%;
}

.input-large {
  width: 75%;
}

.input-full {
  width: 100%;
}

.fs-1 {
  font-size: 0.5vw;
  /* Font weight mixin */
}

.fs-2 {
  font-size: 1vw;
  /* Font weight mixin */
}

.fs-3 {
  font-size: 1.5vw;
  /* Font weight mixin */
}

.fs-4 {
  font-size: 2vw;
  /* Font weight mixin */
}

.fs-5 {
  font-size: 2.5vw;
  /* Font weight mixin */
}

.fs-6 {
  font-size: 3vw;
  /* Font weight mixin */
}

.fs-7 {
  font-size: 3.5vw;
  /* Font weight mixin */
}

.fs-8 {
  font-size: 4vw;
  /* Font weight mixin */
}

.fs-9 {
  font-size: 4.5vw;
  /* Font weight mixin */
}

.fs-10 {
  font-size: 5vw;
  /* Font weight mixin */
}

.bold-1 {
  font-weight: 100;
}

.bold-2 {
  font-weight: 200;
}

.bold-3 {
  font-weight: 300;
}

.bold-4 {
  font-weight: 400;
}

.bold-5 {
  font-weight: 500;
}

.bold-6 {
  font-weight: 600;
}

.bold-7 {
  font-weight: 700;
}

.bold-8 {
  font-weight: 800;
}

.bold-9 {
  font-weight: 900;
}

.bold-10 {
  font-weight: 1000;
}

.margin-1 {
  margin: 1px;
}

.margin-2 {
  margin: 2px;
}

.margin-3 {
  margin: 3px;
}

.margin-4 {
  margin: 4px;
}

.margin-5 {
  margin: 5px;
}

.margin-6 {
  margin: 6px;
}

.margin-7 {
  margin: 7px;
}

.margin-8 {
  margin: 8px;
}

.margin-9 {
  margin: 9px;
}

.margin-10 {
  margin: 10px;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-3 {
  padding: 3rem;
}

.padding-4 {
  padding: 4rem;
}

.padding-5 {
  padding: 5rem;
}

.padding-6 {
  padding: 6rem;
}

.padding-7 {
  padding: 7rem;
}

.padding-8 {
  padding: 8rem;
}

.padding-9 {
  padding: 9rem;
}

.padding-10 {
  padding: 10rem;
}

/* typography */
h1,
h2 {
  letter-spacing: 2px;
}

strong {
  letter-spacing: 2px;
  font-weight: 600;
}

code {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: 300;
  font-size: get-vw(14px);
}

h1 {
  font-size: 40px;
  counter-reset: subsection;
}

h2 {
  font-size: 32px;
  font-family: MerriweatherSans;
}

h3 {
  font-size: 28px;
  font-family: MerriweatherSans;
}

h4 {
  font-size: 24px;
  font-family: MerriweatherSans;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/*forms*/
button[type=submit],
button[type=reset] {
  border-radius: 6px;
  background-color: #311b93;
  color: #bbdefb;
  margin: 0 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: color 350ms ease;
}
button[type=submit]:hover,
button[type=reset]:hover {
  background-color: #b388ff;
  color: #212121;
}

fieldset {
  border: 1px solid #01ff83;
}

legend {
  padding: 1em;
  color: #f99f00;
}

select {
  width: 50%;
}

input::placeholder {
  color: red;
  opacity: 0.75;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-indent: 2em;
  font-variant: small-caps;
  font-weight: 700;
}

input::-moz-placeholder {
  color: red;
  opacity: 0.75;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-indent: 2em;
  font-variant: small-caps;
  font-weight: 700;
}

input:focus {
  background: yellow;
  font-style: italic;
}
input:focus::placeholder {
  line-height: 13;
}

/* Gradients */
.example {
  background: radial-gradient(circle at top left, #bac8ff 15%, #748ffc 5%, #5c7cfa, #4c6ef5, #4263eb, #364fc7);
}

.ptext {
  background-image: linear-gradient(to right, #ECD0C2, #e67e22);
  -webkit-background-clip: text;
          background-clip: text;
}

/*lists */
.inline-list {
  display: inline;
}

dd > p {
  color: #B7A096;
  padding-top: 0;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 1em;
}

dt {
  color: #F0DABD;
  font-size: 1.2rem;
}

.link-list {
  margin-left: 1rem;
  padding-left: 0;
  flex-direction: column;
}

li {
  height: auto;
  width: 100%;
  padding-bottom: 0.5rem;
}

::marker {
  color: yellow;
  content: "☛ ";
}

ul {
  display: list-item;
}

/* Tables */
.tea_show {
  width: 95%;
  margin: 0 auto;
}

.cent {
  text-align: center;
}

th {
  border-bottom: 1px dotted #443B3C;
}

/*Cards */
.card {
  flex: 1;
  min-width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.card--inside {
  box-sizing: border-box;
  min-width: 100%;
  border: 1px solid #d8cdd3;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 2px 2px 3px #b0bec5;
}
.card--inside-header {
  border-radius: 6px;
  display: flex;
  min-height: 2rem;
  width: 100%;
  padding-left: 3rem;
}

.date {
  display: flex;
  justify-content: end;
}

.tags {
  width: 15%;
  font-family: cursive;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
}

.headline {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.box {
  width: 20%;
  height: 100%;
}

/* Containers */
.container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.container header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--left {
  max-width: 250px;
  height: 100%;
  box-sizing: inherit;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container--left {
    width: 100%;
  }
}
@media screen and (max-width: 766px) {
  .container--left {
    width: 100%;
  }
}
.container main {
  flex: 2.5;
  box-sizing: inherit;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container main {
    width: 100%;
  }
}
@media screen and (max-width: 766px) {
  .container main {
    width: 100%;
  }
}
.container--right {
  flex: 1;
  box-sizing: inherit;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container--right {
    width: 100%;
  }
}
@media screen and (max-width: 766px) {
  .container--right {
    width: 100%;
  }
}
.container footer {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container footer {
    width: 100%;
  }
}
@media screen and (max-width: 766px) {
  .container footer {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.top {
  text-shadow: 3px 2px 2px #ffcc33;
}

header {
  border: 2px solid #bbdefb;
}

footer {
  border: 1px solid #bbdefb;
  display: flex;
  justify-content: space-around;
  box-sizing: inherit;
}

/* Main */
#gridly header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  grid-template-rows: repeat(7, 2fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.parent {
  margin: 2rem auto;
  width: 95%;
}

.top {
  height: 2.5rem;
  display: flex;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 3rem;
}
.top a {
  color: #261fcc;
  margin-right: 1rem;
  text-shadow: 1px 1px 1px #6724e1;
  text-decoration: none;
}
.top a:visited {
  color: #593e3e;
  text-shadow: none;
  text-decoration: none;
}
.top a:hover {
  color: #efebe9;
  text-shadow: none;
  text-decoration: none;
}

/* Calendar if needed */
.calendar {
  background: #CFC79E;
  padding: 1em;
  border: 2px solid #000;
  width: 100%;
}

.day {
  padding: 2px;
  height: 10em;
  vertical-align: top;
  width: calc(100% / 7);
}

.highlight {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #050533;
  background: #FE5532;
}

.day_num {
  color: #00007F;
  vertical-align: top;
  font-family: "Consolas", "monaco", monospace;
}

.content {
  color: #211E9C;
}

th {
  text-align: center;
}

.coloring {
  background: tint(#050533, 40%);
}

.size {
  color: #000;
  text-align: center;
}

.thheader {
  color: #050533;
}

#primary, #single, #health {
  background-color: #080b4a;
}
#primary h1, #single h1, #health h1 {
  color: #f9c59b;
}

#single {
  background-color: #02042a;
}

#gridly {
  background: #bf877a;
}

[class^=div] {
  background-color: #8c353d;
  color: #bfa68f;
  padding: 5px;
}

[class^=primer] {
  border: 1px solid black;
  padding: 5px;
}

.card--inside p {
  color: #dbe4ff;
}
.card--inside .date {
  color: #d3f9d8;
}
.card--inside li {
  color: #a5d8ff;
}

.headline {
  color: #efebe9;
}

.box {
  color: #d8cdd3;
}

fieldset {
  color: #88540b;
}

#forms {
  background-color: #430d27;
}
#forms h1 {
  color: #88540b;
}
#forms h4 {
  color: #f99f00;
  text-shadow: 1px 1px #88540b;
}

/** @format */
/*# sourceMappingURL=main.css.map */