/** @format */

@use '../abstracts' as *;

.grid22 {
  width: 98%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 0.75fr repeat(5, 1fr);
  grid-template-rows: repeat(13, 2fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
