/** @format */

@use '../abstracts' as *;
#tax {
	//min-height: 100vh;
	//width: 100vw;
}

#tax-container {
	display: grid;
	width: calc(80% + 100px);
	margin: 0 auto;
	grid-template-columns: 30% 50% 20%;
	grid-template-rows: 125px repeat(4, 1fr);
	column-gap: 1rem;
	//row-gap: 1rem;
	overflow: inherit;
	grid-template-areas:
		'top-menu top-menu top-menu'
		'discuss word sides'
		'regex word sides'
		'regex footy sides'
		'regex footy sides';
	@include tablet {
		display: grid;
		width: 95%;
		//margin: 0 auto;
		grid-template-columns: 100%;
		grid-template-rows: 0.75fr repeat(5, 1fr);
		//grid-gap: 1rem;
		grid-template-areas:
			'top-menu'
			'discuss'
			'regex'
			'word'
			'word'
			'footy';

		// #tax-menu,
		// .discuss,
		// .word,
		// .regex,
		// .sides {
		// 	margin-bottom: 1rem;
		// }
	}
}
#tax-menu {
	grid-area: top-menu;
	//border: 1px solid $gridGen;
	@include center(flex-end, center);
	//padding-left: 2rem;
	@include tablet {
		@include center(center, baseline);
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

#tax-menu ul {
	background: $vintage-red;
}
#tax-menu li {
	padding-right: 1rem;
	font-family: $comfortaa;
	//background-color: map-get($scheme, 'primary');
}
.discuss {
	grid-area: discuss;
	border: 1px solid $gridGen;
	margin-bottom: 1rem;
	@include tablet {
		width: 100%;
	}
}
.word {
	grid-area: word;
	border: 1px solid $gridGen;
	margin-bottom: 1rem;
	.top-title {
		@include center(center, flex-start);
		padding-top: 2px;
	}
	@include tablet {
		width: 100%;
	}
}
.regex {
	grid-area: regex;
	border: 1px solid $gridGen;
	@include tablet {
		width: 100%;
		column-count: 2;
		column-gap: 0.5rem;
		column-rule: 3px solid $gen26;
	}
}
.footy {
	grid-area: footy;
	border: 1px solid $gridGen;
	@include tablet {
		width: 100%;
	}
}
.sides {
	grid-area: sides;
	border: 1px solid $gridGen;
	@include tablet {
		display: none;
	}
}
#tax-menu,
.discuss,
.word,
.regex,
.footy,
.sides {
	background: $gen4;
}

.yes {
	color: white;
	background-color: #000;
}
.no {
	color: red;
}
.upper {
	font-family: $hattori;
	padding-right: 1rem;
}
ul.regy,
#taxColor {
	padding-left: 1rem;
}
