<!-- @format -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="" />
	</head>
	<body>
		<div id="page-container">
			<div id="container">
				<header id="top">Top Header</header>
				<menu id="left">Menu below</menu>
				<main>
					<section id="primary">
						<article class="art1">
							<header class="title"></header>
						</article>
						<article class="art2">
							<header class="title"></header>
						</article>
					</section>
				</main>
				<aside id="right"></aside>
				<footer id="main"></footer>
			</div>
		</div>
	</body>
</html>
