@use '../abstracts' as *
.card--inside
  p
    color: map-get($colors, "text5")
  .date
    color: map-get($colors, "text4")
  li
    color: map-get($colors, "text5")

.headline
  color: map-get($colors, "text6")

.box
  color: map-get($colors, "text")

fieldset
  color: map-get($brownish, "real")
