@use '../abstracts' as *
#forms
  background-color: map-get($brownish, "dark")
  h1
    color: map-get($brownish, "real")
    text-shadow: 1px 2px 3px black, -3px -2px 1px $beige
  h4
    color: map-get($theme, "secondary")
    text-shadow: 1px 1px 3px black, -1px -1px 2px $beige
