@use '../abstracts' as *
#primary
  background-color: map-get($colors, "bkgd")
  h1
    color: map-get($colors, "text1")

#health
  @extend #primary

#single
  background-color: $gennie
  @extend #primary

#gridly
  //background: $azure

[class^= "div"]
  color: invert($blanchedalmond)
  padding: 5px
  border: 1px solid black
  @include round(7px)

  p
    padding: 0 5px
    text-align: left
    font-size: 1rem

[class^= "primer"]
    border: 2px solid black
    padding: 5px
    //@include angle-grad(45deg, $indigo2, $orange2)
    border-radius: 6px
    background-color: #ed761f
    background-image: radial-gradient(at 0% 36%, hsla(154, 94%, 54%, 1) 0, hsla(154, 94%, 54%, 0) 50%), radial-gradient(at 97% 16%, hsla(89, 95%, 57%, 1) 0, hsla(89, 95%, 57%, 0) 50%), radial-gradient(at 83% 70%, hsla(64, 85%, 66%, 1) 0, hsla(64, 85%, 66%, 0) 50%), radial-gradient(at 19% 78%, hsla(21, 86%, 68%, 1) 0, hsla(21, 86%, 68%, 0) 50%), radial-gradient(at 43% 72%, hsla(115, 87%, 68%, 1) 0, hsla(115, 87%, 68%, 0) 50%), radial-gradient(at 58% 18%, hsla(25, 86%, 60%, 1) 0, hsla(25, 86%, 60%, 0) 50%)

.div2,
.div3,
.div4,
.div5,
.div6
  background: $khaki

#demo12
  margin-right: 10px
