@use '../abstracts' as *
#primary
  background-color: map-get($colors, "bkgd")
  h1
    color: map-get($colors, "text1")

#health
  @extend #primary

#single
  background-color: $gennie
  @extend #primary

#gridly
  background: map-get($vintage, "accent")
[class^= "div"]
  background-color: map-get($vintage, "dark")
  color: map-get($vintage, "lt-bg")
  padding: 5px

[class^= "primer"]
  border: 1px solid black
  padding: 5px
